body {
  background: #eef2f5;
  font-family: Arial;
}

.card {
  width: 420px;
  margin: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 8px;
}

input, textarea {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
}

button {
  width: 100%;
  padding: 12px;
  background: #1f6feb;
  color: white;
  border: none;
  margin-top: 10px;
}

.resume {
  width: 900px;
  margin: 40px auto;
  background: white;
  display: flex;
}

.left {
  width: 35%;
  background: #f5f7fa;
  padding: 20px;
}

.right {
  width: 65%;
  padding: 30px;
}

.photo {
  width: 130px;
  border-radius: 50%;
}

.signature {
  width: 150px;
  margin-top: 40px;
}

.download {
  display: block;
  text-align: center;
  margin: 20px;
  font-weight: bold;
}
