<!DOCTYPE html>
<html>
<head>
  <title>Resume Builder</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h2>Resume Builder</h2>

<form action="/preview" method="POST" enctype="multipart/form-data">

<input name="name" placeholder="Full Name" required>
<input name="email" placeholder="Email">
<input name="phone" placeholder="Phone Number">
<input name="linkedin" placeholder="LinkedIn URL">

<textarea name="education" placeholder="Education (Masters, Bachelors, HSC, SSLC)"></textarea>

<textarea name="skills" placeholder="Skills"></textarea>

<textarea name="projects" placeholder="Projects"></textarea>
<textarea name="internships" placeholder="Internships"></textarea>
<textarea name="certifications" placeholder="Certifications"></textarea>

<label>Photo</label>
<input type="file" name="photo">

<label>Digital Signature</label>
<input type="file" name="signature">

<button type="submit">Preview Resume</button>

</form>
</body>
</html>
